@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(assets/bg-library.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
}

input {
    color: gray;
}

#book {
    background: transparent;
    backdrop-filter: blur(15px);
}

#card-book {
    transition: transform .2s;
}

#card-book:hover {
    transform: scale(1.05);
}